# Gradle
.gradle/
build/
out/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
*.iws
*.ipr

# Java
*.class
*.jar
!**/gradle/wrapper/gradle-wrapper.jar
*.war

# OS
.DS_Store
Thumbs.db

# 日志
*.log
